
@{
    ViewData["Title"] = "GOToEmailToConfirm";
}

<div class="container">
    <div class="row text-center">
        <div class="col-md-4">
            @*  @if (ViewBag.ISSuccess==true)
            {
            <div class="alert alert-success" role="alert">
            <p>Your Email Has Been Verified Successfully.</p>

            </div>
            }
            else
            {*@
            <p>Go To EmailTo Confirm .</p>
            @* }*@


        </div>

    </div>

</div>

