@model AdminSiteUseMVC.ViewModel.Brands.BrandViewModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Edite";

}
<h4>@localizer["Brand"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NameEN" class="control-label"></label>
                <input asp-for="NameEN" class="form-control" />
                <span asp-validation-for="NameEN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameAR" class="control-label"></label>
                <input asp-for="NameAR" class="form-control" />
                <span asp-validation-for="NameAR" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <button type="submit" class="btn btn-outline-success">@localizer["Save"]</button>
            </div>
        </form>
    </div>
</div>
    <div class="mt-2">
    <a asp-action="Index" class="btn btn-outline-primary">@localizer["Back to List"]</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}